pydantic
PyMuPDF
python-docx
unstructured
tqdm
langchain
langdetect
pypika
openai
python-dotenv
llama-index
requests
pinecone
pinecone-client
msal
python-docx
python-pptx
pdfplumber
sentence-transformers