pydantic
PyMuPDF
python-docx
unstructured
tqdm
langchain
langdetect
pypika
openai
python-dotenv
llama-index
requests
pinecone
pinecone-client<3.0
msal
python-docx
python-pptx
pdfplumber
sentence-transformers
langchain-community
PyPDF2
xmindparser
openai-whisper
speechrecognition
pydub
beautifulsoup4
lxml
xmindparser
faster-whisper
langchain-pinecone
pinecone-notebooks